<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!--{% include head-custom-google-analytics.html %}-->

<!-- You can set your favicon here -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Tiny5&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

<meta property="og:image" content="https://igpenguin.github.io/stay-dead/assets/img/og-preview.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image" content="https://igpenguin.github.io/stay-dead/assets/img/og-preview.png" />

<!-- end custom head snippets -->
