@import "fonts";
@import "rouge-github";

body {
  background-color: rgb(45,45,45);
  padding:16px;
  padding-top:24px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;

  background-image: url('../../assets/img/pattern.png');
  background-repeat: repeat-x repeat-y;
}

h1, h2, h3, h4, h5, h6 {
  color:#fff;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:76px;
  margin: 8px 0 18px;
}

h2 {
  line-height:1.3;
  font-size:14px;
  margin: 0 0 12px;
}

h4 {
  font-size:12px;
  font-weight: 200;
  margin-bottom: 14px
}

h5 {
  font-size:14px;
  font-style: italic;
  font-weight: 100;
  color: lightgrey;
  }

a {
  color:red;
  font-weight: bold;
  text-decoration:none;
}

a:visited {
  color:green;
  font-weight: bold;
  text-decoration:none;
}

a:active, a:hover, a:focus {
  color:yellow;
  font-weight: bold;
}

.card {
  float: center;
  padding: 16px;
  background-color: rgb(40,40,40);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  width: 400px;
  height: 300px;
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  margin:0 auto;
  float:center;
  text-align: center;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:auto;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:auto;
  margin-top: 24px;
  font-weight: normal;
  font-size: 12px;
  color:#fff;
  -webkit-font-smoothing:subpixel-antialiased;
}

button {
  min-height: 42px;
  margin:2px;
  background-color: rgb(40,40,40);
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

select {
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  appearance: none;
  border: 2px solid transparent;
  border-color: #767676 #202020 #202020 #767676;
  background-color: rgb(40,40,40);
  color: #fff;
  font-weight: normal;
  min-height: 36px;
  font-size: 15px;
  text-align: center;
}

.quest {
  float: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(40,40,40);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  vertical-align: middle;
  font-weight: 200;
  text-align: center;
  display: table-cell;
}

// Small screen width overrides

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
    text-align: center;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    padding: 8px;
    float:center;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {

  section {
    padding:0px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}
