---
---

@import "{{ site.theme }}";

header {
  display: none;
}

// Screen scaling
@media  (min-height: 128px) {
  body {
    zoom: 1.18;
    }
}

@media  (min-height: 820px) {
  body {
    padding-top: 24px;
    zoom: 1.18;
    }
}

@media  (max-width: 420px) {
  body {
    zoom: 0.99;
    }
}
